 /********   Variables  **********/
miAzul= #34639C
miAzulClaro= #2289D9
miVerde= #1C9888
shadow= 1px 1px 2px 1px #C9C9C9


  

/*********   Cabecera   *********/
.header
	background  miAzul
	
	.header__logo
		margin-left .5em
		
		

/*********   Pie   ************/
body 
    display flex
    min-height 100vh
    flex-direction column
  

  main 
    flex 1 0 auto


.footer
	background miAzul !important 
	z-index 2


/********* Pages  ***********/
.titulo
	color miAzul
	border-bottom 2px solid miAzulClaro
	padding-bottom 3px
	
.whiteframe
	background #FFF
	box-shadow shadow
	height 100%
	width 100%
	padding-left 20px
	padding-right 20px
	padding-top 15px !important
	padding-bottom 20px !important
	position relative
	top 10px
	z-index 2

.bloque
	background miVerde
	margin-bottom -2.5%
	
	

 /******** Login ************/

.slider
	box-shadow shadow
	position relative
	left 20px
	
	margin-top 10px
	margin-left 3px


.whiteframe-log
	right 20px

	.btn_bl
		color miAzulClaro 
		margin-top 5px
		&:hover
			color #94C9EF
			text-decoration underline

.card-position
	position relative
	right 20px
	top 10px
	width 95%
	
	.card-dark
		background #2E2E2E

.cont
	background #00ABFF
	position relative
	width 100%
	height 300px
	
.caption-color
	color miAzulClaro !important


/*********  Registro  ***********/


.bloque-reg
	height 70%
	width 100%
	position absolute
	margin-top 44%
	margin-bottom -44% 
	z-index 1
	top 0
	
.btn-reg
	background miAzulClaro !important
	

/********  INT ***********/
.pic
	box-shadow shadow
	width 100%

.text-sel
	&:hover
		color miAzulClaro
	

.player
	margin-top 20px
	margin-bottom 20px
	

/******** Home ***********/
.icon__box
	background miVerde
	box-shadow shadow
	&:hover
		background #1FAE9F
		box-shadow 2px 2px 3px 2px #C9C9C9

	.icon-size
		font-size 1.8em
/******** Admin *********/
.btn-adm
	margin-top 100px

/****** Productos ********/
.btn-prod
	background miAzulClaro !important
	width 130px

.ped-img
	float left
	
	
	
	

	
	
   
		
